<h1>Hey Boss,  <%= @contact.name %> has sent a new Inquiry</h1>
   <br>
   <p>Email: <%=  @contact.email%> </p>
   <br>
   <p>Description: <%=  @contact.description%> </p>
   <br>
   <p>Project Start Date: <%=  @contact.picker%> </p>
   <br>
   <p>Phone: <%=  @contact.phone%> </p>
   <br>
   <p>Service Type: <%=  @contact.types%> </p>
   <br>
   <p>Budget: <%=  @contact.budgets%> </p>
   <br>
<p>Ching Ching get to the money!</p>