<h1>Hey Boss,  <%= @contact.name %> has sent a new Inquiry</h1>
   <br>
   <p>Here is the contact email <%=  @contact.email%> </p>
   <br>
   <p>Here is the contact description <%=  @contact.description%> </p>
   <br>
   <p>Here is the contact date <%=  @contact.picker%> </p>
   <br>
   <p>Here is the contact phone <%=  @contact.phone%> </p>
   <br>
   <p>Here is the contact type <%=  @contact.types%> </p>
   <br>
   
<p>Thanks for joining and have a great day!</p>]